@use '@angular/material' as mat;

@import "tailwindcss";


$customTheme: mat.define-theme();

@include mat.core();

.custom-theme{
    @include mat.all-component-themes($customTheme);
    .mdc-button, .mdc-raised-button, .mdc-stroked-button, .mdc-flat-button {
        border-radius: 0.375rem; // equivalent to Tailwind's rounded-md
    }
}

.container{
    margin-inline-start: auto;
    margin-inline-end: auto;
    max-inline-size: 1536px; // Tailwind's max-w-screen-2xl
}

