@use '@angular/material' as mat;

@use "tailwindcss";


$customTheme: mat.define-theme();

@include mat.core();

.custom-theme{
    @include mat.all-component-themes($customTheme);
    .mdc-button, .mdc-raised-button, .mdc-stroked-button, .mdc-flat-button {
        border-radius: 0.375rem; // equivalent to Tailwind's rounded-md
    }
}

.container{
    margin-inline-start: auto;
    margin-inline-end: auto;
    max-inline-size: 1536px; // Tailwind's max-w-screen-2xl
}

.text-primary {
    color: #7d00fa;

}

button.match-input-height{
    block-size: var(--mat-form-field-container-height) !important;
}

.mdc-notched-outline__notch{
    border-inline-end-style: none !important;
}

// .mat-mdc-snack-bar-container.snack-error {
//     --mdc-snackbar-container-color: red;
//     --mat-snack-bar-button-color: #fff;
//     --mdc-snackbar-supporting-text-color: #fff;
// }

// .mat-mdc-snack-bar-container.snack-success {
//     --mdc-snackbar-container-color: green;
//     --mat-snack-bar-button-color: #fff;
//     --mdc-snackbar-supporting-text-color: #fff;
// }

.snack-error{
    @include mat.snack-bar-overrides((
    button-color: orange,
    container-color: red,
  ));
}