.custom-badge .mat-badge-content {
//   background-color: #ff4081;
//   color: white;
    inline-size: 24px;
    block-size: 24px;
    font-size: 14px;
    line-height: 24px;
}
.custom-badge .mat-icon{
    font-size: 32px;
    inline-size: 32px;
    block-size: 32px;
}
a {
    &.active{
        color:#7d00fa;
    }
}
